.main-cards-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  
  .outside-title {
    font-weight: 600;
    font-size: 20px;
    color: #363E48;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
  }

  .card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    max-width: 776px;
    gap: 16px;
          // background: red
    margin-bottom: 16px;
  }
}