#main{
    background:#F5F6FA;

    padding: 40px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 90vh;

    @media(max-width: 649px){
        padding-bottom: 24px
    }
}
#mainWrapper{
        display: flex;
        flex-direction: row;

        gap: 24px;
        
       
        // background: green
        @media(max-width: 649px){
           flex-direction: column;
        }
            .outside-title-talhao {
                font-weight: 600;
                font-size: 20px;
                color: #363E48;
                line-height: 100%;
                letter-spacing: -0.02em;
                margin-bottom: 8px;
              }

        .main-cards-wrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .card-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-shrink: 1;
            max-width: 776px;
            gap: 16px;
                  // background: red
            margin-bottom: 16px;
        
            @media(max-width: 1049px){
              flex-direction: column;
            }
          }
}

